.notice {
  width: 100%;
  margin-top: 50px;
}

.title {
  font-size: larger;
  font-weight: 700;
}

.hr {
  height: 2px;
  background: #111;
  opacity: 0.9;
  width: 100%;
  margin-top: 12px;
}

.boxRow {
  display: flex;
  flex-wrap: wrap; // 줄바꿈 허용
  padding: 20px;
  border: 1px solid #eaeaea;

  li {
    margin: 10px 10px;
    font-size: small;
    color: #666;
  }
}

.boxItem {
  flex: 2;
  padding: 10px 0px;
  font-size: medium;
  text-align: center;
}
