.container p {
  margin: 0;
  min-width: 500px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  input,
  label {
    font-size: large;
    cursor: pointer;
  }
}

.allAgrement {
  font-weight: bold;
}

.required {
  color: red;
}
