:global(body),
:global(html) {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.ad {
  p {
    margin: 50px 0px;
    font-size: 50px;
    text-align: center;
  }
}

/* 모바일 (~768px) */
@media (max-width: 768px) {
  .categoryContainer {
    flex-wrap: wrap;
  }

  .categoryItem {
    flex: 0 0 50%;

    .categoryText {
      font-size: 24px;
    }
  }
}
