.container {
  margin: 0;
  min-width: 500px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  input,
  label {
    font-size: large;
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

.allAgrement {
  font-weight: bold;
}

.required {
  color: red;
}

@media (max-width: 768px) {
  .container {
    min-width: 450px;
  }
}
