.container {
  margin: 50px 0;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image {
  padding: 30px 30px;
}

.horizontal {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 15px;
  border: none;
  border-top: 1px solid black;
}

.link {
  text-decoration: none; // 밑줄 제거
  color: inherit; // 부모 요소의 색상 상속

  &:visited {
    color: inherit; // 방문한 링크도 동일한 색상 유지
  }

  &:hover,
  &:active,
  &:focus {
    color: inherit; // 모든 상태에서 색상 유지
  }
}
