.horizontal {
  margin: 0;
  border: none;
  border-top: 2px solid black;
}

.wishList {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: relative;

  color: black;
  text-decoration: none;

  input {
    cursor: pointer;
  }
}

.image {
  width: 100px;
}

.productsInfo {
  margin-left: 10px;
  flex: 1;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; // 밑줄 제거
  color: inherit; // 부모 요소의 색상 상속

  &:visited {
    color: inherit; // 방문한 링크도 동일한 색상 유지
  }

  &:hover,
  &:active,
  &:focus {
    color: inherit; // 모든 상태에서 색상 유지
  }
}

.price {
  margin-top: 5px;
  margin-bottom: 0px;
  color: black;
}

.deleteButton {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #666;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.button {
  width: 200px;
  display: flex;
  gap: 20px;
  align-self: flex-end; // 아래쪽 정렬
  margin-left: auto; // 오른쪽 정렬

  button {
    padding: 6px 12px;
    font-size: 14px;
    white-space: nowrap; // 텍스트 줄바꿈 방지
  }
}
