// SocialLogin.module.scss

.socialLoginContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  :global(a) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px; // 로그인 버튼과 동일한 높이로 설정
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      cursor: pointer;
    }
  }
}
