:global(body),
:global(html) {
  margin: 0;
  padding: 0;
}

.category > div {
  display: flex;
}

.img {
  top: -80px; // Header 높이만큼 위로 이동 (실제 Header 높이에 맞게 조정)
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; // 다른 컨텐츠들 뒤로 보냄
}
